
*.opendb
*.db
*.pdb
*.tlog
*.ilk
*.db
*.obj
*.ipch
*.db-shm
*.db
Randemic_cod/.vs/RandomGen/v16/Browse.VC.db
Randemic_cod/.vs/RandomGen/v16/.suo
Randemic_cod/.vs/RandomGen/v16/.suo
Randemic_cod/.vs/RandomGen/v16/Browse.VC.db
Randemic_cod/Debug/RandomGen.exe
Randemic_cod/Debug/RandomGen.ilk
Randemic_cod/Debug/RandomGen.pdb
